.title {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
.name {
  color: #034086;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-self: center;
}
.poste {
  color: #034086;
  font-family: "Courier New", Courier, monospace;
  border: 3px solid #034086;
  padding: 10px;
  justify-self: center;
}
body {
  background-color: #f1ecec;
}
